.color-text {
  color:#fdba74
  
}


.custom-image {
  height: 500px; 
  width: 500px; 
  border-radius: 8px; 
  object-fit: cover; 
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 700px) {
  .custom-image {
    height: 360px; 
    width: 360px; 
  }
}

@media screen and (min-width: 1024px) {
  .custom-image {
    height: 800px; 
    width: 800px; 
  }
}
