.color-text {
  color:#fdba74
  
}


.custom-image {
  height: 500px; 
  width: 500px; 
  border-radius: 8px; 
  object-fit: cover; 
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .custom-image {
    height: 360px; 
    width: 360px; 
  }
  
  .center-container {
  display: flex;
  justify-content: center;
}
   .flex.justify-center {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .custom-image {
    height: 800px; 
    width: 800px; 
  }
}

@media screen and (max-width: 700px) {
  .bg-gray-800.flex.justify-center.p-6 {
    display: block;
  }
}
