.color-text {
  color:#fdba74
  
}


.custom-image {
  height: 500px; 
  width: 500px; 
  border-radius: 8px; 
  object-fit: cover; 
}

@media screen and (max-width: 700px) {
  .custom-image {
    height: 360px; 
    width: 360px; 
  }
}

@media screen and (min-width: 1024px) {
  .custom-image {
    height: 800px; 
    width: 800px; 
  }
}
}
